!!!
%html( lang="en" )
  %head
    %meta( http-equiv="Content-Type" content="text/html; charset=utf-8" )
    %title The Weather In Hong Kong
    %link( rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/2.3.2/flatly/bootstrap.min.css")

  %body
    .container
      .hero-unit
        %h1
          The Weather in Hong Kong
        %figure
          = weather_picture_tag(@weather.conditions)
          %h2= @weather.conditions


